<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find abu_description)/urdf/swerve_wheel/dir_wheel.urdf.xacro" />
    <xacro:include filename="$(find abu_description)/urdf/swerve_wheel/steering.urdf.xacro" />

    <xacro:macro name="swerve_wheel" params="side rot_radius rot_width dir_radius dir_width pos_x pos_y pos_z dir_pos_z mass">
        <xacro:steering 
            side="${side}"
            radius="${rot_radius}" 
            width="${rot_width}" 
            pos_x="${pos_x}" 
            pos_y="${pos_y}" 
            pos_z="${pos_z}" 
            mass="${mass}"
        />
        <xacro:direction_wheel 
            side="${side}"
            radius="${dir_radius}" 
            width="${dir_width}" 
            pos_z="${dir_pos_z}" 
            mass="${mass}"
        />


    </xacro:macro>
</robot>